* {box-sizing: border-box}
.mySlides1 {display: none}
img {vertical-align: middle;}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}


/* .slide-container{
    width: 760px;
    height: 650px;
   margin-left: auto;
   margin-right: auto;
   overflow: hidden;
   text-align: center;
}
.image-container{
    width: 2400px;
    height: 2400px;
    position: relative;
    transition: left 5s;
}

.slider-image{
    float: left;
    margin:0px;
    padding: 0px;
}
.button-container{
top: -20%;
position: relative;
}

.slider-button{
display: inline-block;
height: 100px;
width: 100px;
border-radius: 5px;
background-color: white;
}
#slider-image-1:target ~ .image-container{
    left: auto;
}
#slider-image-2:target ~ .image-container{
    left: -60px;
}
#slider-image-3:target ~ .image-container{
    left: -80px;
}

#slider-image-4:target ~ .image-container{
    left: -80px;
}

#slider-image-5:target ~ .image-container{
    left: -60px;
} */